* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --font1: 'Arial';
}

.header{
    font-family: var(--font1);
    text-align: center;
}

.navigation{
    background-color: rgb(222, 222, 222);
    overflow: hidden;
}

.navigation-links{
    font-family: var(--font1);
    display: flex;
    justify-content: center;
}

/* div ul ul{
    display: inline;
} */

.website-photo{
   /* max-height: 250px;  */
   /* width: 20%; */
   /* height: 20%; */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    width: 80%;
}

.independent-photo {
    flex: 1 0 auto;
}

.independent-website{
    width: 60%;
}


.about{
    display: flex;
    justify-content: center;
    display: inline;
    text-align: center;
}

.resume-highlights{
    text-align: center;
}

.job-title{
    font-weight: bold;
}

.resume-overview{
    font-style: italic;
}

.profile-photo{ 
    display: flex;
    justify-content: center; 
}


.coding-work{ /*these classes do not seem to be doing anything */
    text-align: center;
}

/* organize this CSS, this coding-site is after this */
.coding-site{ 
    text-align: center;
}

body{
    background-color: rgb(229, 229, 229);
}

/*
.about h2{
    font-family: var(--font1);
}
*/


.bio{ /*class selectors don't seem to be working properly*/
   /* font-family: var(--font1); */
    text-align: center;
}

.contact-me{
    text-align: center;
}

.footer{
    font-family: var(--font1);
    text-align: center;
}



@media screen and (max-width: 992px) {
    header {
      background: #b1b1b1;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #c8c8c8;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #e1e1e1;
    }
  }
  