/* root variable is creating a set of fonts and colors to be used throughout the website */
:root{ 
    --font1: 'Arial';
}

/* following elements exist to add style to the header and navigation bars */
.header{
    font-family: var(--font1);
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.navigation{
    background-color: rgb(222, 222, 222);
    overflow: hidden;
}

.navigation-links{
    font-family: var(--font1);
    display: flex;
    justify-content: center;
}

div ul ul{
    display: inline;
}

.website-photo{
   /* max-height: 250px;  */
   /* width: 20%; */
   /* height: 20%; */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    width: 80%;
}

.independent-photo {
    flex: 1 0 auto;
}

.website-photo-big{
    width: 500px;
    display: flex;
    justify-content: center;
    /* left: 150px; */
    
}

.independent-website{
    width: 250px;
    display: flex;
    justify-content: center;
    display: inline-block;
}


.about{
    display: flex;
    justify-content: center;
    display: inline;
    text-align: center;
}
/* the following elements add stylistic pieces to text sections */
.resume-highlights{
    text-align: center;
}

.job-title{
    font-weight: bold;
}

.resume-overview{
    font-style: italic;
}

.profile-photo{ 
    display: flex;
    justify-content: center; 
}


.coding-work{ /*these classes do not seem to be doing anything */
    text-align: center;
}

/* organize this CSS, this coding-site is after this */
.coding-site{ 
    text-align: center;
}

body{
    background-color: rgb(229, 229, 229);
}

/*
.about h2{
    font-family: var(--font1);
}
*/


.bio{ /*class selectors don't seem to be working properly*/
   /* font-family: var(--font1); */
    text-align: center;
}

.contact-me{
    text-align: center;
}
/* center and add fonts to footer elements */
.footer{
    font-family: var(--font1);
    text-align: center;
}

@media screen and (max-width: 992px) {
    header {
      background: #b1b1b1;
    }
  }
  
  /* header changes color for various size phones */
  @media screen and (max-width: 768px) {
    header {
      background-color: #c8c8c8;
    }
  }
  
/* header changes color for various size phones */
  @media screen and (max-width: 576px) {
    header {
      background-color: #e1e1e1;
    }
  }
  